* {
  margin: 20px;
  border: 0px;
  padding: 0px;
  font-size: 48px;
  color: white;
  font-family: Helvetica, sans-serif;
}

.box1 {
  background: rgb(31, 91, 209);
  margin: 10px;
  border: 0px;
  padding: 20px;
  border: 10px solid gainsboro;
}

.box2 {
  background: red;
  margin: 10px;
  border: 0px;
  padding: 20px;
  border: 10px solid rgba(81, 0, 255, 0.357);
}